asgiref==3.11.1
charset-normalizer==3.4.9
Django==5.2.16
django-cors-headers==4.9.0
django-jazzmin==3.0.5
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
docopt==0.6.2
et_xmlfile==2.0.0
lxml==6.1.1
networkx==3.6.1
num2words==0.5.14
numpy==2.4.6
openpyxl==3.1.5
pillow==12.3.0
pydot==4.0.1
PyJWT==2.13.0
pymupdf==1.28.0
psycopg2-binary==2.9.12
pyparsing==3.3.2
python-pptx==1.0.2
reportlab==5.0.0
scipy==1.17.1
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.3
xlsxwriter==3.2.9
